@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}
.header h2{
	color:black;
	text-align: top;
	font-size: 40px;

}
.Step1 h2{
	text-align: left;
	padding: 5px;
	border-left: 5px;
	font-size: 30px;

}
body {
	background-color: #9b59b6;
	font-family: 'Open Sans', sans-serif;
	
	
}
label{
	padding: 10px;
	font-size: 20px;
}
input{
	border:2px solid black;
	width:40%;
	height: 30px;
}
.Step1 div{
	border:5px solid black;
}

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

